apiVersion: apps/v1
kind: Deployment
metadata:
  name: wallet-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wallet-service
  template:
    metadata:
      labels:
        app: wallet-service
    spec:
      containers:
        - name: wallet-service
          image: jfcasinoacr1.azurecr.io/wallet-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          env:
          - name: SPRING_DATASOURCE_URL
            valueFrom:
              secretKeyRef:
                name: wallet-db-secret
                key: SPRING_DATASOURCE_URL

          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name: wallet-db-secret
                key: SPRING_DATASOURCE_USERNAME

          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: wallet-db-secret
                key: SPRING_DATASOURCE_PASSWORD

          - name: SPRING_JPA_DATABASE_PLATFORM
            valueFrom:
              secretKeyRef:
                name: wallet-db-secret
                key: SPRING_JPA_DATABASE_PLATFORM

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
            failureThreshold: 3

apiVersion: v1
kind: Service
metadata:
  name: wallet-service
spec:
  type: ClusterIP
  selector:
    app: wallet-service
  ports:
    - port: 8080          # Service accessible port
      targetPort: 8080    # Forward to container port 8080
      protocol: TCP
