apiVersion: apps/v1
kind: Deployment
metadata:
  name: wallet-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wallet-service
  template:
    metadata:
      labels:
        app: wallet-service
    spec:
      containers:
        - name: wallet-service
          image: jf76272/wallet-service:1.0.0
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: wallet-db-service
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: walletDB
            - name: DB_USERNAME
              value: jf76272
            - name: DB_PASSWORD
              value: password
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
